@model List<QuanlyDiemrenluyen.ViewModels.DuyetDanhSachLopVM>
@{
    ViewBag.Title = "Danh sách lớp";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = 0;
}

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="page-title-box">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <h4 class="page-title">@ViewBag.Title</h4>
                        @*<ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="#">Quản lý đánh giá</a></li>
                            <li class="breadcrumb-item"><a href="#">@ViewBag.Title</a></li>
                        </ol>*@
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="button-items" id="tooltip-container">
                                <table id="datatable" class="table table-striped dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Lớp</th>
                                            <th>Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            id++;
                                            <tr>
                                                <td>@id</td>
                                                <td>@Html.DisplayFor(modelItem => item.TenLop)</td>
                                                <td>
                                                    <a href="/DuyetCanBoKhoa/LoadListSVThuocLop?KyDKID=@ViewBag.KydkID&MaLop=@item.MaLop" class=" btn-sm btn-icon btn-danger" style=" border: none" data-bs-toggle="tooltip" data-bs-placement="top" title="Xem danh sách lớp"><i class="fa-solid fa-cubes" style="color: white"></i></a>
                                                    @*@Html.ActionLink(" ", "LoadListSVThuocLop", new { KyDkid = ViewBag.KydkID, MaLop = item.MaLop }, new { @class = "fa-solid fa-cubes text-danger", title = "Xem danh sách lớp" })*@
                                                    <a href="/DuyetCanBoKhoa/XuatThongKeLop?KyDKID=@ViewBag.KydkID&MaLop=@item.MaLop" class=" btn-sm btn-icon btn-info" style="background: #009900; border: none" data-bs-toggle="tooltip" data-bs-placement="top" title="Xuất thông kê"><i class="fa-regular fa-file-excel" style="color: white"></i></a>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>

