
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Điểm rèn luyện</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Trang chủ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- Start jstree -->
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="bgtable">
                    <div class="diem">
                        <h4>HKII_2021-2022</h4>
                        <div class="diem_link">
                            <p>95</p>
                        </div>
                        <div class="content">
                            <p>Điểm</p>
                            <p><span>95</span> <span>điểm</span></p>
                        </div>
                        <div class="content1">
                            <p> Xếp loại</p>
                            <p><span>Xuất sắc</span></p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ">
                <div class="bgtable">
                    <div class="tieude">
                        <p>Thống kê đánh giá rèn luyện</p>
                        <!--        <button class="btn">
                            <i class="fa-solid fa-magnifying-glass"></i></button> -->
                    </div>
                    <!-- Start table Diem ren luyen -->
                    <div class="table">
                        <table class="table table-hover">
                            <!--  <input type="text" style="float: right; border: none; border-radius: 2px;" placeholder=" Tìm kiếm"> -->
                            <thead>
                                <tr>
                                    <th>Thời gian xét</th>
                                    <th>Điểm số</th>
                                    <th>Ngày xét</th>
                                    <th>Trạng thái</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>HKI_2021-2022</td>
                                    <td>95/100</td>
                                    <td>22/10/2021</td>
                                    <td><label class="btn-choduyet"> <i class="fa-regular fa-face-smile"></i> Chờ duyệt</label></td>
                                    <td>
                                        <a href=""><i class="fa-solid fa-eye"></i></a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>HKI_2021-2022</td>
                                    <td>95/100</td>
                                    <td>22/10/2021</td>
                                    <td><label class="btn-hoantat"><i class="fa-solid fa-check"></i> Hoàn tất</label></td>
                                    <td>
                                        <a href=""><i class="fa-solid fa-eye"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- End table Diem ren luyen -->
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content 12] start -->
        <div class="row m-4">
            <!-- [ variant-chart ] start -->
            <div class="col-md-6">

            </div>
            <div class="col-md-12 ">

            </div>

            <!-- [ variant-chart ] end -->
        </div>
        <!-- [ Main Content 12] end -->
    </div>
</div>
<!-- [ Main Content ] end -->
